.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* height: 10%; */
  min-height: fit-content;
  /* background-image: url(); */
  background-color: #090b1a;
  padding-top: 30px;
  padding-bottom: 40px;
}
/* .profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
} */
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
  color: white;
}
.primary-text {
  color: white;
}
.highlighted-text {
  color: darkorange;
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
  color: white;
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: black;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 white;
  border-radius: 50%;
  height: 375px;
  width: 375px;

  /* margin: 0 0 0 10px; */
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("https://i.ibb.co/w0QvdQT/20180814-112130-removebg-preview-1.png");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
.imgset {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon i:hover {
  transform: scale(1.5);
}

.main-text {
  font-size: 50px;
  font-weight: bold;
  color: #ff5823;
}
.creative-text {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Poppins SemiBold";
}

